<html>
 <head>
        <title>Линейная регрессия</title>
    </head>
    <body>
        <h1>Модуль упругости при растяжении, Гпа</h1>
        <form method="post">
            <p>
                <label>Соотношение матрица-наполнитель</label>
                <input name="area8" type="text">
            </p>
            <p>
                <label>Плотность, кг/м3/</label>
                <input name="area1" type="text">
            </p>
            <p>
                <label>Модуль упругости, ГПа</label>
                <input name="area2" type="text">
            </p>
            <p>
                <label>Количество отвердителя, м.%</label>
                <input name="area3" type="text">
            </p>
            <p>
                <label>Содержание эпоксидных групп,%_2</label>
                <input name="area4" type="text">
            </p>
            <p>
                <label>Температура вспышки, С_2</label>
                <input name="area5" type="text">
            </p>
            <p>
                <label>Поверхностная плотность, г/м2</label>
                <input name="area6" type="text">
            </p>
            <p>
                <label>Прочность при растяжении, МПа</label>
                <input name="area7" type="text">
            </p>
            <p>
                <label>Потребление смолы, г/м2</label>
                <input name="area9" type="text">
            </p>
            <p>
                <label>Угол нашивки, град</label>
                <input name="area10" type="text">
            </p>
            <p>
                <label>Шаг нашивки</label>
                <input name="area11" type="text">
            </p>
            <p>
                <label>Плотность нашивки</label>
                <input name="area12" type="text">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
        <p>
            {% if message %}
            {{ message }}
            {% endif %}
        </p>
    </body>
</html>